RewriteEngine On
Options -Indexes

# Blok file sensitif
<FilesMatch "(^\.|\.env|composer\.(json|lock)|.*\.sql|.*\.log)$">
    Require all denied
</FilesMatch>

# Blok folder internal
RewriteRule ^(?:app|config|storage|routes|server|api)/ - [F,L,NC]

# Redirect assets ke public/assets
RewriteRule ^assets/(.*)$ public/assets/$1 [L]

# Semua request -> public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [L]
